.git/**
.gitignore
.omx/**
gdsfactory/.env
.venv/**
.vscode/**
docs/**
gds/**
gds_test/**
node_modules/**
src/**
*.vsix
tsconfig.json
package-lock.json
python/__pycache__/**
out/**/*.test.js
out/**/*.test.js.map
